<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Reddit</title>
</head>
<body>
    <a href="Submit">Submit new post</a>
    <h1>Trending Posts</h1>
    <table>
        <tr>
            <td>ID</td>
            <td>Upvote</td>
            <td>Downvote</td>
            <td><p>Post title</p></td>
        </tr>
        @foreach (var post in @Model)
        {
            <tr>
                <td>@post.Id</td>
                <td><a href="#">+</a></td>
                <td><a href="#">-</a></td>
                <td>@post.Title</td>
            </tr>
        }
    </table>
</body>
</html>